ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
ANTHROPIC_API_KEY=${DEEPSEEK_API_KEY}
MYSQL_ROOT_PASSWORD=you password
MYSQL_DATABASE=ai_code_assistant
MYSQL_USER=you username
MYSQL_PASSWORD=you password