ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
ANTHROPIC_API_KEY=${sk-bce3969ce9a848009d6330b65030f413}
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=ai_code_assistant
MYSQL_USER=root
MYSQL_PASSWORD=123456